<mat-nav-list>
    <h3 mat-subheader>Ma Playlist ({{ playlist.length }} vidéos)</h3>

    <div *ngIf="playlist.length === 0" class="empty-list">
        <span>Votre playlist est vide.</span>
    </div>

    <mat-list-item *ngFor="let video of playlist" [routerLink]="['/video', video.id]" class="playlist-item">
        <img matListItemAvatar [src]="video.thumbnailUrl" alt="{{ video.title }}" class="thumbnail">
        <div matListItemTitle>{{ video.title | slice:0:30 }}...</div>
        <div matListItemLine>ID: {{ video.id }}</div>

        <button mat-icon-button (click)="removeVideo(video.id); $event.stopPropagation()">
            <mat-icon>delete</mat-icon>
        </button>
    </mat-list-item>
</mat-nav-list>
