/* CSS pour centrer la carte */
.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.auth-card {
    width: 400px;
    padding: 20px;
}

.auth-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-top: 15px;
}

