<mat-toolbar color="warn" class="youtube-header">
    <button mat-icon-button routerLink="/search" class="logo-btn">
        <mat-icon class="logo-icon">play_arrow</mat-icon>
        <span class="logo-text">MyTube</span>
    </button>

    <span class="spacer"></span>

    <!-- Affiche "Se connecter" si aucun utilisateur n'est connecté -->
    <div *ngIf="!authService.currentUser()">
        <button mat-button routerLink="/auth">
            <mat-icon>login</mat-icon>
            Se connecter
        </button>
    </div>

    <!-- Affiche "Se déconnecter" et le nom de l'utilisateur s'il est connecté -->
    <div *ngIf="authService.currentUser()">
        <button mat-button (click)="onSignOut()">
            <mat-icon>logout</mat-icon>
            Se déconnecter ({{ authService.currentUser() }})
        </button>
    </div>
</mat-toolbar>